header {
  text-align: center;
  font-size: 52px;
  background: -webkit-linear-gradient(rgb(144, 227, 233),rgb(54, 238, 152));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.search-bar {
  margin-bottom: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
  text-align: center;
  border:2px solid rgba(221, 221, 221, 0.753);
  border-radius: 5px;
}

.video-item img {
  max-width: 640px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

div.addQueue {
  width: 100%;
  padding: 0;
  margin-top: 5px;
  color: white;
  border-radius: 4px;
  text-align: center;
}

.queue {
  border: 1px solid #ddd;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
}
.queue__header{
  padding-top: 10px;
  height: 40px;
  font-size: 13px;
  display: inline-block;
}
i {
  padding:3px;
  border-radius: 10px;
}
i:hover{
  background-color: lightslategray;
  color: white;
}
i.active
{
  background-color: grey;
  color: greenyellow;
}
.queue .queue-list {
  font-size: 13px;
  font-style: italic;
}

.queue{
  height:520px;
  overflow-y:scroll;
}
.queue::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}
.queue::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.queue::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(144, 227, 233)),
									   color-stop(0.72, rgb(31, 228, 202)),
									   color-stop(0.86, rgb(54, 238, 152)));
}

.queue-list div:hover{
  background-color: #dff0d8;
  border-color: #d0e9c6;
}

ul.video-list-box{
  padding-right:0;
  height:520px;
  overflow-y:scroll;
  border: 1px solid #ddd;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;  
}

.video-list-box::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

.video-list-box::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.video-list-box::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

.video-buttons .btn{
  margin:10px
}
.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

footer{
  position: relative;
  bottom: 0;
  width: 100%;
  line-height: 60px;
  background-color: #f5f5f5;
}
