.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
}

.video-item img {
  max-width: 640px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

div.addQueue {
  width: 100%;
  padding: 0;
  margin-top: 5px;
  color: white;
  border-radius: 4px;
  text-align: center;
}

.queue {
  border: 1px solid #ddd;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
}
.queue__header{
  padding: 10px;
}
.queue .queue-list {
  font-size: 13px;
  font-style: italic;
}
.video-buttons .btn{
  margin:10px
}
.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}